<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Grupal-4</title>
</head>
<body>
    <form action="/process">
        <label for="url">Imagen URL:</label><br>
        <input type="text" id="url" name="url" required><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>